.dash__right {
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0.5rem;
}
.dash__itemsList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: auto;
  padding-left: 0;
}
