.upload__servicesList {
  border: 2px solid var(--primary-color);
}

.upload__servicesList > thead > tr > th{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.upload__servicesList > tbody > tr > td:nth-child(1){
  cursor: copy;
}