.btn {
  border: 0;
  padding: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
}
.btn:hover {
  opacity: 0.8;
}
.btn-small {
  font-size: small;
  padding: 0.1rem;
}
.btn-success {
  background-color: #196619;
  color: var(--dominant-color);
}
.btn-danger {
  background-color: #ff5722;
  color: var(--dominant-color);
}
.btn-info {
  background-color: #ffc107;
  color: white;
}
.btn-primary {
  background-color: var(--secondary-color);
  color: white;
}
.btn-action {
  background-color: #007bff;
  color: white;
}
.btn-group {
  gap: 0.8rem;
}
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
