.headerLink__active {
  font-weight: bold;
}
.header__link {
  text-decoration: none;
  color: black;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link:hover:is(.headerLink__active){
  text-decoration: none;
}