.page__leftRight {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.9fr;
  height: 90svh;
}
.list__section {
  flex: 3;
  border-right: 1px solid var(--primary-color);
  height: 90svh;
  overflow-y: auto;
  padding: 0.8rem;
}
.about__section {
  border-right: 1px solid var(--primary-color);
  overflow-y: auto;
}
.edit__section {
  padding: 0.8rem;
  overflow-y: auto;
}
