.login__form {
  max-width: 450px;
  margin: auto;
  gap: 1rem;
  width: 100%;
}
.form__container {
  height: 600px;
}
.login__form > i {
  text-align: center;
  font-weight: 100;
}
.login__form > h1{
  text-align: center;
}
.login__message{
  min-height: 10vh;
}