.report__statusBig {
  font-size: large;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.report__acsList {
  list-style: decimal;
}
.reports__aboutWrapper{
  padding-inline: 0.8rem;
  line-height: 2rem;
}