.report__statusBig {
  font-size: large;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.report__acsList {
  list-style: decimal;
}
.reports__aboutWrapper{
  line-height: 2rem;
}
.reports__aboutSection{
  margin: 0.5rem;
}