* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: lightgrey;
  --dominant-color: white;
  --secondary-color: #5dbae7;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor-pointer {
  cursor: pointer;
}
.d-grid {
  display: grid;
}
.field__section {
  display: grid;
  gap: 0.5rem;
}
.field__section > legend {
  font-size: large;
  font-weight: 800;
}
.form {
  display: grid;
  gap: 0.5rem;
}
.text-wrap {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
